.footer__email {
  position: relative;
  margin-top: .9rem;

  .email__input {
    color: white;
    min-height: 40px;
    padding: 0 15px;
    line-height: 20.9px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    min-width: 255px;
    transition: all .3s ease;
    outline: 1px solid transparent;

    &:focus {
      outline: 1px solid white;
    }

    &::placeholder {
      color: white;
    }
  }
}

.email__icon {
  position: absolute;
  top: 50%; /* позиция сверху по вертикали на 50% */
  transform: translateY(-50%);
  right: 16px;
  transition: all 1.3s;
  cursor: pointer;
}
